/* Write your CSS here! */
p {
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  }

  body {
    display: block;
    background-color: #FFFAFA;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 8px;

  }

  header h1 {
    text-align: center;
  }

  h2 {
    padding-left: 30px;
  }

  #mainHeading {
    color:red;
    text-align:center;
  }

  #testP.funParagraph {
    background-color: green;
    opacity:0.6;
  }
a{
 color:black" 
}
  a:hover {
    color:red
  }

  p::first-letter{
    font-size:x-large
  }

  img{
    width: 1000px;
    align-self: center;
    padding-bottom: 30px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  hr {
    height: 2px;
    background-color: #ff0000;
    border: none;
  }

  .navigation-unordered-list {
    display: flex;
    justify-content: center;
    list-style: none;

    a {
      margin: 1% 10%;
    }
}